@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  main {
    margin: -50px auto auto auto !important;
  }
  .text-logo {
    display: none;
  }
  #text-gr {
    display: none;
  }
  .github-gr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .logo-background {
    left: 153px;
  }
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  background-color: #FFFFFF;
  font-family: 100% Roboto, sans-serif;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  position: relative;
  z-index: -1;
  opacity: 1;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 0 auto;
  position: relative;
  height: 100px;
  z-index: 2;
}

body .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3F51B5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: #3F51B5 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 10px #000000B5;
          box-shadow: 0px 3px 10px #000000B5;
  letter-spacing: 0px;
  text-align: center;
}

body .container .row .text-logo {
  width: 82px;
  margin-bottom: 1px;
  margin-left: 10px;
  height: 29px;
  font: normal normal 900 22px/34px Roboto;
  color: #FFFFFF;
}

body .container .row #home-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  width: 294px;
  height: 26px;
  font: normal normal 500 20px/34px Roboto;
  color: #FFFFFF;
}

body .container .row .github-gr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  margin-left: auto;
  width: 112px;
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  font: normal normal 900 20px/34px Roboto;
}

body .container .row .github-gr #text-gr {
  margin-top: 7px;
}

body .banner {
  position: relative;
  top: -20px;
  width: 100%;
  height: 398px;
  z-index: 1;
}

body .banner .head-main {
  background-color: #3F51B5;
  width: auto;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .banner .head-main .group1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 478px;
  height: 193px;
  margin: 60px auto auto auto;
}

body .banner .head-main .group1 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 478px;
  height: 84px;
  font: normal normal bold 64px/32px Roboto;
  color: #FFFFFF;
}

body .banner .head-main .group1 .subtt {
  width: 396px;
  height: 29px;
  font: normal normal normal 22px/32px Roboto;
  color: #FFFFFF;
}

body .banner .head-main .group1 button {
  margin-top: 40px;
  width: 110px;
  height: 40px;
  border: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000080;
          box-shadow: 0px 3px 6px #00000080;
  border-radius: 8px;
  z-index: 2;
}

body .banner .head-main .group1 button p {
  margin-top: 7px;
  margin-left: 14px;
  width: 82px;
  height: 21px;
  font: normal normal 600 16px/16px Roboto;
  color: #000000DE;
}

body .banner .head-main .logo-background {
  position: absolute;
  top: 60px;
  right: 143px;
  width: 615px;
  height: 338px;
  background: transparent 0% 0% no-repeat padding-box;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -57px auto auto auto;
  width: 85.416%;
  height: auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 10px #00000029;
          box-shadow: 0px 3px 10px #00000029;
}

body main .line {
  margin: 35px 40px 0px 40px;
  height: 0px;
  border: 1px solid #70707080;
  opacity: 1;
}

body main .card1 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1640px;
}

body main .card1 .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 40px 30px 40px;
  max-width: 400px;
  height: 209px;
  text-align: left;
  color: #0000008A;
}

body main .card1 .block .text1 {
  width: 400px;
  height: 34px;
  font: normal normal 700 24px/32px Roboto;
}

body main .card1 .block .text2 {
  margin-top: 18px;
  width: 400px;
  height: 84px;
  font: normal normal normal 18px/28px Roboto;
}

body main .card1 .block .text3 {
  margin-top: 20px;
  width: 400px;
  height: 53px;
  font: normal normal normal 18px/28px Roboto;
}

@media screen and (min-width: 768px) {
  body main .card1 .block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body main .card2-name {
  margin: 52px auto 0px 41px;
  width: 275px;
  height: 37px;
  text-align: left;
  font: normal normal 700 28px/28px Roboto;
  color: #0000008A;
}

body main .card2 {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .card2 .block2 {
  margin: auto 45px auto 45px;
  width: 360px;
  height: 249px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .card2 .block2 .card2-text {
  margin-top: 20px;
  color: #0000008A;
  font: normal normal normal 22px/28px Roboto;
}

body main .card2 .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 10px #00000029;
          box-shadow: 0px 3px 10px #00000029;
  border-radius: 50%;
  margin: 100px 50px 99px 0px;
}

body main .card2 .circle .next {
  width: 10px;
  height: 16.48px;
  margin: 17.21px 20px 16.31px 20px;
}

@media screen and (max-width: 1728px) {
  body main .card2 .circle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body main .card2 .block2 {
    margin: 20px auto;
  }
}

body main .card3-name {
  margin: 53px auto 0px 41px;
  width: 87px;
  height: 37px;
  text-align: left;
  font: normal normal 700 28px/28px Roboto;
  color: #0000008A;
}

body main .card3 {
  margin-top: 36px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .card3 .block3 {
  margin: auto 40px auto 40px;
  width: 100%;
  max-width: 360px;
  height: 270px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px #00000032;
          box-shadow: 0px 2px 5px #00000032;
}

body main .card3 .block3 .title1 {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 73px;
  text-align: center;
  margin: 30px auto auto auto;
  font: normal normal 600 28px/34px Roboto;
  color: #000000;
}

body main .card3 .block3 .rectangle {
  margin: 21px auto 0px auto;
  width: 140px;
  height: 5px;
  background: #FF4081 0% 0% no-repeat padding-box;
}

body main .card3 .block3 .content {
  margin: 27px 30px 30px 30px;
  width: 300px;
  height: 84px;
  text-align: center;
  font: normal normal normal 18px/28px Roboto;
  color: #0000008A;
}

body main .card3 .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 10px #00000029;
          box-shadow: 0px 3px 10px #00000029;
  border-radius: 50%;
  margin: 110px 50px 110px 0px;
}

body main .card3 .circle .next {
  width: 10px;
  height: 16.48px;
  margin: 17.21px 20px 16.31px 20px;
}

@media screen and (max-width: 1663px) {
  body main .card3 .circle {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  body main .card3 .block3 {
    margin: 20px auto;
  }
}
/*# sourceMappingURL=main.css.map */